* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffbea;

}

.top_footer{
    background-color: #79a3b1;
    color: white;
    text-align: center;
    padding: 16px;
}

.para {
    margin: 1rem 5rem;
    border-radius: 8px;
    background-color: #f8f8f8;
    padding: 2rem;
    box-shadow: 1px 1px 6px #80808066
}

.para2 h3 {
    color: #b3568f;

}

.description {
    margin: 1rem 3rem;
}